<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<img src={{srcpath}}>
<img [src]='srcpath'>
<input #nameVal [value]='name ' (input)='name = nameVal.value'>
<input [value]='name' (input)="name = $event.target.value">
<input [value]='name' (keyup)="name = $event.target.value">
<input [value]='name' (keyup.enter)="name = $event.target.value" (blur)="name = $event.target.value">
<input [(ngModel)]='name'>
<select #colorVal (change)='colorChange(colorVal.value)'>
  <option> red </option>
  <option> blue </option>
  <option> green</option>
</select>
<select (change)='colorChange($event.target.value)'>
  <option> red </option>
  <option> blue </option>
  <option> green</option>
</select>
<select [(ngModel)]='colorChange1'>
  <option> red </option>
  <option> blue </option>
  <option> green</option>
</select>
<p>{{colorChange1}}</p>
<p [style.background-color]='color'>{{content}}</p>
<p>{{name}}</p>
<button (click)='toggleColor()'> toggle color </button>
<button (click)='toggleChildComponent()'> Show / Hide </button>
<app-orders [datashare] = 'name' *ngIf = 'hideaddress'></app-orders>