
<div class="container" *ngFor = 'let cust of customersObj'>
    <h3>Customer name : {{cust.firstName}}</h3>

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">ItemCost</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = 'let order of cust.orders; let rowIndex=index'>
                <th scope="row">{{rowIndex+1}}</th>
                <td>{{order.productName}}</td>
                <td>{{order.itemCost}}</td>
            </tr>
            <tr >
                <th></th>
                <td>Total cost</td>
                <td>{{cust.totalItemCost}}</td>
            </tr>
        </tbody>
    </table>
</div>